{% comment %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
<a href="{{ image.src | img_url: 'large' }}">
  <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
</a>
{% endfor %}
<h1>{{ product.title }}</h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
    {% if variant.available %}
    <option value="{{ variant.id }}">
      {{ variant.title }} - {{ variant.price | money_with_currency }}
    </option>
    {% else %}
    <option disabled="disabled">
      {{ variant.title }} - sold out
    </option>
    {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">
  <button type="submit" name="add" id="AddToCart">Add to cart</button>
</form>
<div>{{ product.description }}</div>
{% endcomment %}


{% assign short_description = product.description | split: "Product Description" | first %}
{% assign product_description = product.description | split: "Product Description" | last | split: "Specifications" |
first %}
{% assign specifications = product.description | split: "Specifications" | last %}

<section class="inner_page_head">
  <div class="container_fuild">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <h3>Single Product</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-product">
  <div class="container my-5">

    <div class="row pb-5">
      <div class="col-md-5">
        <div class="single-product-images">

          {% for image in product.images %}
          <div data-thumb="{{ image.src | img_url: '1920x' }}">
            <img class="img-fluid" src="{{ image.src | img_url: '1920x' }}">
          </div>
          {% endfor %}

        </div>
      </div>

      <div class="col-md-7">
        <div class="single-product-details">
          <h4>{{ product.title }}</h4>
          <p class="product-price">{{ product.price | money}}</p>

          <p class="product-description">{{ short_description }}</p>


          <form method="POST" action="/cart/add">

            {% unless product.has_only_default_variant %}

            {% for product_option in product.options_with_values %}
            <div class="product-category">
              <span>{{ product_option.name }}:</span>
              <select class="form-control" data-index="option{{ forloop.index }}">

                {% for value in product_option.values %}
                <option value="{{ value | escape }}" {% if product_option.seleceted_value==value %} selected="selected"
                  {% endif %}>{{ value }}</option>
                {% endfor %}

              </select>
            </div>
            {% endfor %}

            {% endunless %}



            <div class="product-quantity">
              <span>Quantity:</span>
              <input min="1" type="number" id="quantity" name="quantity" value="1" />
            </div>
            <div class="product-category">
              <span>Categories:</span>
              <ul>

                {% for collection in product.collections %}
                <li><a href="{{ collection.url }}">{{ collection.title }}</a></li>
                {% endfor %}

              </ul>
            </div>

            <div class="text-center">
              <input type="hidden" id="variant-id" name="id" value="{{ product.variants.first.id }}" />
              <input type="submit" value="Buy Now" class="btn btn-main btn-block" />
            </div>

          </form>


        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Specifications</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h4 class="mt-3">Product Description</h4>
            <p>{{ product_description }}</p>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h4 class="mt-3">Product Specifications</h4>
            <p>{{ specifications }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>